*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: #FFF0F5;
    
}
.background-projects{
   background: #FFF0F5;
    
}
.background-exps{
    background:#FFF0F5;
}
.background-lead{
    background: #FFF0F5;
}  
.header{
    padding-bottom: 100px;
}
nav{
    display: flex;
    padding: 0% 6%;
    justify-content: space-between;
    align-items: center;
    
}

.nav-links{
    padding-top: 50px;
    padding-bottom: 50px;
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    color: #000000;
    font-size: 12px;
}

.nav-links ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#000000;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.title-page-text{
    justify-content: center;
    margin-top: 70px;
    font-size: 14px;
    color: #000000;
}
.title-page-text img{
    position: relative;
    width: 15%;
    top: 10px;
}
.header a{
    font-size: 15px;
    color:black;
}
.title-page-text h1{
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    color:#000000;
    font-size: 65px;
    text-align: center;
}
.title-page-text p{
    margin-left: 300px;
    margin-right: 300px;
    color:#000000;
    font-size: 16px;
    text-align: left;
}

.description h1{
    position: relative;
    font-size: 35px;
    color: #000000;
}
.description {
    position: relative;
    margin-left: 100px;
    margin-right: 50px;
    font-size: 14px;
    color:#000000;
    text-align: left;
}

nav .fa{
     display: none;
}

@media screen and (max-width: 700px){
    .title-page-text p{
        position: relative;
        margin-left: 100px;
        margin-right: 50px;
        font-size: 14px;
        color:black;
        text-align: left;
    }
    .title-page-text h1{
        color:#000000;
        font-size: 15px;
    }
    .title-page-text img{
        width: 20%;
    }

    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background:white;
        height: 100vh;
        width: 200px;
        left: -200px;
        top: 0;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    
    nav .fa{
        padding-top: 50px;
        display: block;
        color:black;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;

    }

    .nav-links ul{
        padding: 30px;
    }
    section-design p{
        position: relative;
        margin-left: 100px;
        margin-right: 50px;
        font-size: 14px;
        color:black;
        text-align: left;
    }
    .tech{
        margin-bottom: 30px;
        margin-top: 15px;
        
    }
    
    .tech ul li{
        position: relative;
        margin-left: 100px;
        margin-bottom: 10px;
        font-size: 14px;
        margin-right: 50px;
        color: #000000;
    }
}

/*--------- design for all sections ------*/
.section-design{
    width: 100%;
    text-align: left;
    margin-left: 100px;
    margin-right: 50px;
    color: #000000;
}

.section-design h1{
    position: relative;
    font-size: 35px;
    color: #000000;
}

.section-design p{
    position: relative;
    margin-left: 100px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-right: 150px;
    font-size: 16px;
    color: #000000;
}

.section-design a{
    color: #000000;
}

.section-design h2{
    font-size: 30px;
    color: #000000;
}

.section-design h3{
    position: relative;
    margin-left: 50px;
    font-size: 20px;
    color: #000000;
}

.section-design h4{
    position: relative;
    margin-left: 50px;
    font-style: italic;
    font-size: 16px;
    color: #000000;
}

.tech{
    margin-bottom: 30px;
    margin-top: 15px;
    
}

.tech ul li{
    position: relative;
    margin-left: 100px;
    margin-bottom: 10px;
    font-size: 14px;
    margin-right: 300px;
    color: #000000;
}

/* --- footer -position: absolute;
    top: 140%;
     width: 100%;
     padding: 10px 0;---*/
.footer{
    width: 100%;
    position: absolute;
    padding: 20px 0;
}
.footer a{
    color: #000000;
}
.row{
    display: flex;
    justify-content: center;
    color:#000000;
    gap: 20px;
}
